# Python cache for files generated during compilation
*.pyc
__pycache__

# Local log files
*.log

# Local data files
.*
!.gitignore
data/settings.ini

# Local data folders
cache
bot_logs

# Testing files
test*

# Temporary files
temp.lock
